@import url("https://fonts.font.im/css?family=Open+Sans");
@import url("http://fonts.googleapis.com/icon?family=Material+Icons");

html,
body,
#blocklyDiv {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  user-select: none;
  overflow: hidden;
}

#codePreview {
  max-height: calc(100vh - 2em);
  overflow-y: auto;
  position: fixed;
  right: 1em;
  top: 1em;
  user-select: text;
  font-family: "Open Sans", sans-serif;
}

.blocklyToolboxContents {
  padding: 0em 0.4em 1.2em 0.4em;
  color: white;
}

.blocklyTreeRow {
  padding: 0.4em 0.6em 1.2em;
  margin-bottom: 0.4em;
  border-radius: 0.4em;
}
